<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.kai_morich.smorphi_app">

    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Smorphi App"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="de.kai_morich.smorphi_app.HomeActivity"
            android:exported="true" />
        <activity
            android:name="de.kai_morich.smorphi_app.Settings"
            android:exported="true" />
        <activity
            android:name="de.kai_morich.smorphi_app.Pairing"
            android:exported="true" />
        <activity
            android:name="de.kai_morich.smorphi_app.Connection"
            android:exported="true" />
        <activity
            android:name="de.kai_morich.smorphi_app.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="de.kai_morich.smorphi_app.SerialService" />
    </application>

</manifest>